<!-- intro -->
<div class="intro amber z-depth-1 my-logo-text">
  <h1 class="grey-text text-lighten-5">Registre suas horas de diversão</h1>
</div>

<!-- intro -->

<!-- container -->
<div class="container about">
  <!-- painel adicionar jogos -->
  <div id="painel-adicionar-jogo" class="row">
    <div class="col s12 m6 offset-m3">
      <a routerLink="/adiciona-jogo" (click)="this.onButtonClick()">
        <div
          id="botao-cadastrar"
          class="card-panel amber accent-4 center my-card-button"
        >
          <span class="white-text flow-text"> Adicione um jogo </span>
        </div>
      </a>
    </div>
  </div>
  <!-- fim painel adicionar jogos -->
</div>
<!-- fim container -->
