.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
.tooltip a {
  color: inherit;
  text-decoration: none;
}
.tooltip a:focus + .tooltiptext {
  visibility: visible;
}

#div-panel {
  padding: 20px 20px !important;

  text-align: center;
}
